@charset "utf-8";
body{
    background: #F8F8F8;
}
/*header*/
header{
    width: 100%;
    height: 44px;
    background: #322f3b;
}
header .header_box{
    width: 1200px;
    height: 44px;
    margin: 0 auto;
}
header .header_box .h_box_left{
    float: left;
}
header .h_box_left_a{
    display: block;
    width: 92px;
    height: 43px;
    float: left;
    padding: 0 20px;
    border-top: 1px solid #322f3b;
    position: relative;
    transition: all 0.5s;
}
header .h_box_left_a a,.h_box_right a{
    display: block;
    font-size: 14px;
    color: #dedede;
    text-align: center;
    line-height: 43px;
}
header .h_box_left_a img{
    width: 10px;
    height: 10px;
}
header .h_box_left_a .xx {
    position: absolute;
    left: 90px;
    top: 20px;
    display: block;
}
header .h_box_left_a .ss {
    position: absolute;
    left: 90px;
    top: 20px;
    display: none;
}
header .h_box_left_a .xx1{
    position: absolute;
    left: 105px;
    top: 20px;
    display: block;
}
header .h_box_left_a .ss1 {
    position: absolute;
    left: 105px;
    top: 20px;
    display: none;
}
header .h_box_left_a .xx2 {
    position: absolute;
    left: 120px;
    top: 20px;
    display: block;
}
header .h_box_left_a .ss2 {
    position: absolute;
    left: 120px;
    top: 20px;
    display: none;
}
header .h_box_left_b{
    font-size: 14px;
    background: #27252e;
    width: 160px;
    display: none;
    position: absolute;
    left: 0px;
    z-index: 300;
    margin: -1px;
    transition: all 1s;
}
header .h_box_left_a:hover {
  border-top: 1px solid #f8177c;
  background: #27252e;
  color: #fff; 
}
header .h_box_left_a:hover .h_box_left_b{
    display: block;
}
.h_box_left_a:hover .ss {
  display: block; 
}
.h_box_left_a:hover .xx {
  display: none; 
}
.h_box_left_a:hover .ss1 {
  display: block;
   }
.h_box_left_a:hover .xx1 {
  display: none; 
}
.h_box_left_a:hover .ss2 {
  display: block; 
}
.h_box_left_a:hover .xx2 {
  display: none; 
}
.header_box .h_box_right {
    float: right;
}
.header_box .h_box_right li{
    float: left;
    height: 43px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 1s;
}
.header_box .h_box_right a{
    float: left;
}
.header_box .h_box_right img{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #fff;
    margin:0 10px 0 10px;
}
.header_box .h_box_right span{
    display:inline-block;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    border-radius: 50%;
    background: #F8177C;
    color: #ccc;
}
.header_box .h_box_right .h_box_r_box{
    font-size: 10px;
    background: #fff;
    width: 350px;
    height: 200px;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    position: absolute;
    top: 44px;
    right: 82px;
    z-index: 1000;
}
.h_box_right .h_box_r_box a{
    color: #00BFFF;
    line-height: 200px;
    margin-left: 50px;
}
.h_box_right .h_b_r_zd:hover{
    background: #fff;
}
.h_box_right .h_b_r_zd:hover a{
    color: #000;
}
.h_box_right .h_b_r_s:hover a{
    color: #fff;
}
.h_box_right .h_b_r_shopping:hover{
    background: #fff;
    color: #f8177c;
}
.h_box_right .h_b_r_shopping:hover .h_box_r_box{
    display: block;
}
/*nav*/
.nav{
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.nav .nav_content{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}
.nav .nav_left{
    float: left;
}
.nav .nav_left img{
    width: 213px;
    height: 45px;
    padding-top: 21px;
    margin-right: 30px;
}
.nav .nav_center{
    float: left;
}
.nav .nav_center a{
    display: block;
    height: 89px;
    font-size: 16px;
    color: #555;
    line-height: 88px;
    padding: 0 20px;
    float: left;
}
.nav .nav_center a:hover{
    color: #F8177C;
}
.nav .nav_right{
    float: right;
    width: 223px;
    height: 40px;
    border: 1px solid #e5e5e5;
    margin-top: 24px;
    position: relative;
}
.nav .nav_right .n_nr_in{
    margin: 13px 0 0 14px;
    border: 0;
    float: left;
    outline: none;
}
.nav .nav_right .n_nr_se{
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    background: #fff;
    border: none;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top:0px;
}
.nav .nav_right img{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 195px;
    top: 10px;
    cursor: pointer;
}
//banner
.banner{
    width:100%;
    height: 480px;
}
.banner .banner_box{
    width:1200px;
    height: 480px;
    margin:0 auto;
    position: relative;
}
.swiper-container img{ 
    width:1200px;
    height:480px;
}
.swiper-container .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    background: #eee;
    opacity: .2;
}
.swiper-container .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}
.banner .banner_menu{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
    transition: all 1s ease;
}
.banner .banner_menu .b_m_u_lis{
    height: 94px;
    width: 210px;
    background: #000;
    padding: 5px 10px;
    transition: all 1s;
}
.banner_menu .b_m_u_lis a{
    font-size: 14px;
    color: #eaeaea;
    text-align: center;
    line-height: 44px;
}
.banner_menu .b_m_u_lis dl a:hover{
    text-decoration:underline;
}
.banner_menu .b_m_u_lis dt{
    height: 20px;
}
.banner_menu .b_m_u_lis dd{
    width: 60px;
    height: 30px;
    line-height: 60px;
    float: left;
    padding: 0 10px 0 0;
}
.banner_menu .b_m_u_lis .b_m_u_lis_box{
    width: 200px;
    height: 465px;
    border: 1px solid #ccc;
    border-top: 2px solid #f8177c;
    z-index: 2000;
    position: absolute;
    left: 230px;
    top: -10px;
    background: #fff;
    padding: 8px 0 0 20px;
    display: none;
}
.b_m_u_lis .b_m_u_lis_box .bmulb_sex{
    height: 93px;
}
.b_m_u_lis .b_m_u_lis_box a{
    font-size: 14px;
    color: #eaeaea;
    text-align: center;
    line-height: 44px;
    margin-top: 8px;
}
.b_m_u_lis .b_m_u_lis_box img{
    display: inline-block;
    width: 77px;
    height: 82px;
}
.b_m_u_lis .b_m_u_lis_box span{
    display: block;
    color: #000;
    margin: -90px 0 0 70px;
}
 .b_m_u_lis_box span:hover{
     color:#F8177C;
}
//activity
.activity{
    width: 100%;
    height: 227px;
}
.activity .activity_box{
    width:1200px;
    margin: 0 auto;
    margin-top: 15px;
}
.activity .activity_box a{
    float:left;
    margin-left:14px;
}
.activity .activity_box img{
    transition: all 1s ease;
}
.activity .activity_box a:hover img{
    transform: translateY(-15px);
}
//content
//手机
.content{
    width: 100%;
    height:1224px;
}
.content .content_sj{
    width: 1200px;
    height: 408px;
    margin:0 auto;
    background: #fff;
}
.content .content_sj .c_s_top{
    width:1200px;
    height: 68px;
    line-height: 68px;
}
.content .content_sj p{
    float: left;
    font-size: 20px;
    color: #000;
}
.content .c_s_top a{
    float: right;
    font-size: 14px;
    color: #636363;
}
.c_s_bottom .csb_img{
    width: 300px;
    height: 340px;
    float: left;
    transition: all 1s;
}
.c_s_bottom .csb_box{
    width: 224px;
    height: 339px;
    border-left: 1px solid #f0f0f0;
    float: left;
    position: relative;
    background: #fff;
}
.c_s_bottom .csb_box a:nth-child(1) {
    position: absolute;
    left: 45px;
    z-index: 10;
}
.c_s_bottom .csb_box a:nth-child(2) {
    position: absolute;
    left: 45px;
}
.c_s_bottom .csb_box a img {
    width: 130px;
    height: 270px;
    transition: all 1s ease;
}
.c_s_bottom .csb_box .csb_box_three{
    height: 64px;
    margin: 275px 0 0 78px;
}
.csb_box .csb_box_three p:nth-child(1) {
    float:none;
    font-size: 14px;
    color: #000;
    opacity: 1;
    transition: all 0.5s ease;
}
.csb_box .csb_box_three p:nth-child(2) {
    float:none;
    font-size: 12px;
    color: #999;
    opacity: 1;
    transition: all 0.5s;
}
.csb_box .csb_box_three p:nth-child(3){
    font-size: 14px;
}
.c_s_bottom .csb_box .cb_seven a{
    transition: all 1s;
}
.content_sj .c_s_bottom .csb_img:hover{
    transform: translateX(-8px);
    box-shadow: 0 0 15px 5px #B3B3B6;
}
.c_s_bottom .csb_box:hover .csb_box_one{
    transform: translateX(45px);
}
.c_s_bottom .csb_box:hover .csb_box_two{
    transform: translateX(-45px);
}
.c_s_bottom .csb_box:hover .cb_five{
    opacity: 0;
}
.c_s_bottom .csb_box:hover .cb_six{
    opacity: 0;
}
.c_s_bottom .csb_box:hover .cb_seven a{
    transform: translateY(-10px);
}
//配件
.content .content_pj{
    width: 1200px;
    height: 665px;
    margin:0 auto;
    background: #fff;
}
.content .content_pj .c_p_top{
    width:1200px;
    height: 68px;
    line-height: 68px;
}
.content .content_pj p{
    font-size: 20px;
    color: #000;
}
.content .c_p_top a{
    float: right;
    font-size: 14px;
    color: #636363;
    margin-top: -70px;
}
.content .c_p_bottom a{
    font-size: 14px;
    text-align: center;
}
.c_p_bottom .pjb_one{
    width: 300px;
    height: 300px;
    float: left;
    transition: all 1s;
    display: block;
}
 .c_p_bottom .pjb_two{
    width: 224px;
    height: 299px;
    border-left: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    float: left;
    background: #fff;
}
.c_p_bottom .pjb_two a img {
    width: 190px;
    height: 190px;
    transition: all 1s ease;
    margin: 15px 16px;
}
.c_p_bottom .pjb_two p:nth-child(2) {
    font-size: 14px;
    color: #333;
    height: 20px;
    line-height: 20px;
    margin: -15px 53px;
    opacity: 1;
    transition: all 0.5s;
}
.c_p_bottom .pjb_two p:nth-child(3) {
    font-size: 12px;
    color: #999;
    height: 18px;
    line-height: 18px;
    margin: 25px 58px;
    opacity: 1;
    transition: all 0.5s;
}
.c_p_bottom .pjb_two .pjb_three{
    display: block;
    width: 120px;
    height: 60px;
    font-size: 14px;
    color: #ff3161;
    margin: -10px 0 0 47px;
    transition: all 0.5s;
}
.c_p_bottom .pjb_one:hover{
    transform: translateX(-8px);
    box-shadow: 0 0 15px 5px #B3B3B6;
}
.c_p_bottom .pjb_two:hover .pjb_four{
    transform: scale(1.1);
}
.c_p_bottom .pjb_two:hover p{
    opacity: 0;
}
.c_p_bottom .pjb_two:hover .pjb_three{
    transform: translateY(-10px);
}
//美图APP
.app{
    width:100%;
    height:925px;
}
.app .app_box{
    width: 1200px;
    height: 403px;
    margin: 0 0 0 74px;
    clear: both;
    position: relative;
}
.app .app_box .app_box_top{
    height: 68px;
    line-height: 68px;
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}
.app_box .app_box_top p{
    font-size: 20px;
    color: #000;
    font-weight: 700;
}
.app_box .app_box_top a{
    font-size: 14px;
    color: #636363;
    margin-top: 14px;
}
#abb_cl_left{
    font-size: 40px;
    color: #000;
    position: absolute;
    top: 220px;
    left: -25px;
    cursor: pointer;
}
#abb_app{
    width: 1135px;
    height: 300px;
    padding-left: 17px;
    overflow: hidden;
    position: relative;
}
#abb_app_uls{
    position: absolute;
}
#abb_app_uls li{
    width: 210px;
    height: 300px;
    background: #fff;
    margin-right: 17px;
    float: left;
    transition: all 1s;
}
#abb_app_uls li a img{
    width: 98px;
    height: 98px;
    margin: 62px 0 32px 52px;
}
#abb_app_uls li:hover{
    transform: translateY(-10px);
}
.abb_app_so{
    display: block;
    font-size: 18px;
    color: #333;
    margin-top: -10px;
    text-align: center;
}
.abb_app_st{
    display: block;
    color: #999;
    margin-top: 10px;
    text-align: center;
}
#abb_cl_right{
    font-size: 40px;
    color: #000;
    position: absolute;
    top: 220px;
    right: 13px;
    cursor: pointer;
}
//footer
.footer{
    width:100%;
    height:540px;
    margin-top:50px;
}
.footer .footer_top{
    height: 387px;
    margin: 60px 0 0 0px;
    padding: 0 0 0 57px;
    background: #fff;
}
.footer .footer_top .ft_top{
    width: 1200px;
    height: 133px;
    border-bottom: 1px solid #ccc;
}
.footer_top .ft_top .ft_sex{
    width: 300px;
    height: 132px;
    float: left;
}
.ft_top .ft_sex img{
    display: block;
    width: 44px;
    height: 40px;
    margin: 48px 0 0 95px;
    float: left;
}
.ft_top .ft_sex h5{
    font-size: 16px;
    color: #727272;
    padding: 45px 0 0 150px;
}
.ft_top .ft_sex p{
    font-size: 12px;
    color: #b6b6b6;
    padding: 5px 0 0 150px;
}
.footer .footer_top .ft_bottom{
    width: 1200px;
    height: 210px;
    background: #fff;
    padding-top: 42px;
    padding-left: 42px;
}
.ft_bottom dl{
    width: 154px;
    float: left;
}
.ft_bottom dl dd a{
    line-height: 30px;
    font-size: 12px;
    color: #5e5e5e;
}
.ft_bottom dl dd a:hover{
    color:#F8177C;
}
.ft_bottom .ft_bottom_right{
    width: 230px;
    height: 153px;
    float: right;
    margin-right: 30px;
}
.ft_bottom .ft_bottom_right img{
    width: 46px;
    height: 46px;
    margin: 8px 5px 0 5px;
}
.ft_bottom .ft_bottom_right h5{
    font-size: 20px;
    font-weight: bold;
}
.ft_bottom .ft_bottom_right p{
    margin-top: 5px;
    color: #b6b6b6;
    font-size:16px;
}
.ft_bottom .ft_bottom_right h3{
    margin-top: 20px;
     font-size:16px;
}
.footer .footer_bottom{
    height: 135px;
    padding-top: 20px;
}
.footer_bottom .fb_top{
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
}
.fb_top ul li{
    float: left;
    color: #d3d3d3;
}
.fb_top ul li a{
    font-size: 12px;
    color: #5e5e5e;
}
.fb_top ul li a:hover{
    color: #F8177C;
}
.footer_bottom .fb_bottom{
    width: 1200px;
    height: 75px;
    margin: 0 auto;
}
.fb_bottom .fb_bottom_sex{
    width: 825px;
    height: 75px;
    float:left;
    border-bottom: 1px solid #e5e5e5;
}
.fb_bottom .fb_bottom_sex ul{
    margin-top: 13px;
    margin-left:20px;
}
.fb_bottom .fb_bottom_sex  ul li{
    float: left;
}
.fb_bottom_sex ul li a{
    font-size: 12px;
    color: #5e5e5e;
}
.fb_bottom_sex a{
    font-size: 12px;
    color: #b6b6b6;
}
.fb_bottom a:hover{
    color:#F8177C;
}
//侧边栏
//左侧边栏
#left_side{
    width: 50px;
    height: 153px;
    border: 1px solid #ccc;
    background: #00BFFF;
    border-radius: 5px;
    position: absolute;
    left: 5px;
    display: none;
    position: fixed;
    right:0;
    top:50%;
    margin-top:-76px;
}
#left_side ul li {
    font-size: 14px;
    color: #fff;
    height: 30px;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    text-align: center;
}
//右侧边栏
#right_side{
    position:fixed;
    right: 2px;
    top:50%;
    margin-top:-61px;
    width: 45px;
    height: 122px;
    border: 1px solid #ccc;
    right: 2px;
    background: #00BFFF;
    border-radius: 5px;
}
#right_side .rs_qq{
    width: 40px;
    height: 40px;
    background: url(../img/right_side_1.png) no-repeat 0px -124px;
}
#right_side .rs_qq:hover{
    background: url(../img/right_side_1.png) no-repeat -40px -124px;
    cursor: pointer;
}
#right_side .rs_kf{
    width: 40px;
    height: 40px;
    background: url(../img/right_side_1.png) no-repeat 0px 0px;
}
#right_side .rs_kf:hover{
    background: url(../img/right_side_1.png) no-repeat -40px -0px;
    cursor: pointer;
}
#right_side #rs_gzh{
    width: 40px;
    height: 40px;
    background: url(../img/right_side_1.png) no-repeat 0px -45px;
}
#rs_gzh_sex{
    width: 143px;
    height: 143px;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    right: 45px;
    top: 32px;
    display: none;
}
#rs_gzh_sex .rs_img{
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 21px 10px 0 27px;
}
#right_side #rs_gzh:hover{
    background: url(../img/right_side_1.png) no-repeat -40px -45px;
    cursor: pointer;
}
#right_side #rs_zd{
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 130px;
    right: -1px;
    background: #00BFFF url(../img/right_side_1.png) no-repeat 0px -77px;
    display: none;
}
#right_side #rs_zd:hover{
    background: url(../img/right_side_1.png) no-repeat -40px -77px;
    cursor: pointer;
}
